 <nav>
    <div class="nav-wrapper">
       <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-and-up"><i class="material-icons">menu</i></a>
      <a href="#" class="brand-logo center">Logo</a>
    </div>
  </nav>

